.Shop-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px;

    & > div {
        cursor: pointer;
        transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: translateY(-5px);
        }
    }
    & > .skeleton > .ant-skeleton {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
