//
//      Background Colors
//
.dark-blue {
    background: $dark-blue;
}

.light-blue {
    background: $light-blue;
}

.tile-blue {
    background: $tile-blue;
}

//
//      Text Colors
//

.dark-blue-color {
    color: $dark-blue;
}

.light-blue-color {
    color: $light-blue;
}

.tile-blue-color {
    color: $tile-blue;
}

.green-2-color {
    color: $green-2;
}

//
//      Background Gradient
//

.pink-gradient {
    background: $pink-gradient;
}

.blue-gradient {
    background: $blue-gradient;
}

.red-gradient {
    background: $red-gradient;
}
