@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-ExtraLight.ttf');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-Light.ttf');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-Regular.ttf');
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-Medium.ttf');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-Bold.ttf');
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-ExtraBold.ttf');
//     font-weight: 900;
//     font-style: normal;
// }
