.ant-layout {
    background: white;
    width: inherit;
    height: inherit;
}

.ant-layout-content {
    width: 100%;
    max-width: 83.333vw;

    margin: 0 auto;
}

.ant-tabs.ant-tabs-top {
    height: 100%;
    flex: auto;
    color: $dark-blue;

    .ant-tabs-nav-wrap {
        flex: none;
    }
    .ant-tabs-nav {
        margin: 0;
        height: inherit;

        .ant-tabs-ink-bar {
            background: $light-blue;
        }
    }

    .ant-tabs-tab-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .ant-tabs-content-holder {
        display: none;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-weight: 700;
        color: $light-blue;
    }
}

.ant-divider {
    margin: 0;
    margin-top: -2px;
    border-top: 2px solid rgba(83, 134, 151, 0.2);
}

.ant-tag {
    color: $dark-blue;
    font-size: 12px;
    border-radius: 1000px;
    border: 0;
    background: rgba(83, 134, 151, 0.2);
    padding: 1px 15px;
}

.ant-skeleton {
    display: block;

    span {
        border-radius: 4px;
    }
}

.ant-btn > span {
    font-weight: 900;
    font-size: 12px;
}

.ant-btn-primary {
    background: $light-blue;
    border-color: #08a9d2;
    text-shadow: none;
}

.ant-select {
    width: 100%;
    flex: 1 1 auto;
}

.ant-select-selection-placeholder {
    color: $gray-3;
    font-size: 12px;
}

.ant-select-single {
    &:not(.ant-select-customize-input) .ant-select-selector {
        background-color: #f2f6f9;
        border: 0;
    }
}

.ant-picker-input,
.ant-input,
.ant-input-affix-wrapper {
    &::-webkit-input-placeholder {
        color: $gray-3 !important;
    }
    &::placeholder {
        color: $gray-3 !important;
    }
    &:-ms-input-placeholder {
        color: $gray-3 !important;
    }
    &:-moz-placeholder {
        color: $gray-3 !important;
    }
}

.ant-alert {
    &.ant-alert-no-icon {
        padding: 3px 15px;
    }

    .ant-alert-message {
        font-size: 12px;
    }
}

.ant-upload.ant-upload-drag {
    background-color: #f2f6f9;
}

.ant-upload.ant-upload-drag {
    height: fit-content;
}

.ant-dropdown {
    .ant-menu {
        border-radius: 8px;
        border: 1px solid rgba(83, 134, 151, 0.2);
    }
}
