$header-height: 7.354443309499489vh;
$header-color: #1f232b;

$dark-blue: #29656d;
$tile-blue: #90acb5;
$light-blue: #02bae8;

$pink-gradient: linear-gradient(270deg, #ba26f1 0%, #e051af 100%);
$red-gradient: linear-gradient(90deg, #ff9f1c 0%, #ff3e01 100%);
$blue-gradient: linear-gradient(89.9deg, #1bd2fa 0.09%, #1053ff 99.92%);

$green-2: #27ae60;

$gray: #333333;
$gray-3: #828282;
$gray-4: #4f4f4f;
