.Product {
    .ant-space-item:first-child {
        width: 100%;
    }
    &-image {
        position: relative;
        &-dummy {
            padding-top: 100%;
        }
        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &-badge {
            position: absolute;
            top: 8px;
            right: 8px;
            background: #ffffff;
            box-shadow: 0px 0px 0px rgba(83, 134, 151, 0.2);
            border-radius: 4px;
            padding: 0 8px;
            display: flex;
            align-items: center;
            height: 22px;
            font-weight: 800;
        }
    }
    &-buy.ant-btn {
        font-weight: 800;
        background: #ff991a;
        border-color: #ff991a;

        &:hover {
            background: #e68917;
            border-color: #e68917;
        }

        &:focus {
            background: #bf7213;
            border-color: #bf7213;
        }
    }
}
