@import '../../../styles';

.Selector {
    display: flex;
    align-items: center;
    margin-top: 25px;

    & > span {
        margin-right: 15px;
    }

    .ant-radio-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .ant-radio-button {
        display: none;

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            border: none;
            background-color: transparent;

            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 81.9%;

            color: $dark-blue;
            span {
                margin: 0;
                padding: 0;
            }

            &-checked {
                border: none;
            }
        }

        &-wrapper::before {
            display: none;
        }
    }

    .ant-radio-button-wrapper.radio-selector {
        border-radius: 25px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
    }

    .ant-radio-button-wrapper-checked {
        color: white;

        &.design,
        &.design:hover {
            background: $pink-gradient;
            border-color: none;
        }

        &.functional,
        &.functional:hover {
            background: $blue-gradient;
            border-color: none;
        }

        &.vulnerability,
        &.vulnerability:hover {
            background: $red-gradient;
            border-color: none;
        }
    }
}
