.AddNewBug {
    &-bottom {
        margin-top: 49px;
        display: flex;
        align-items: stretch;
    }
    &-error {
        flex: 1 1 auto;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }
    &-submit {
        margin-left: auto;
        background: transparent !important;
        border: 1px solid #02bae8;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 116px;
        height: 36px;
        padding: 10px 23px;

        span {
            color: #02bae8;
            font-family: Manrope;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}

.templateItem {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgba(83, 134, 151, 0.2);

    .Params {
        display: flex;
        justify-content: flex-start;
        &-left {
            color: #828282;
            margin-right: 12px;
        }
    }
}
