.Guild-create {
    background: transparent !important;
    color: #02bae8;
    border: 1px solid #02bae8;
    border-radius: 4px;
    margin-top: 19px;
    float: right;
    height: 26px;
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12.15px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 800;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Guild-create:hover {
    background: transparent;
    color: #02bae8;
    border: 1px solid #02bae8;
}

.Guild-item {
    height: 90px;
    width: 426px;
    padding: 16px 22px;
    border: 1px solid rgba(83, 134, 151, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0.5;
    margin-bottom: 10px;

    &-logged {
        @extend .Guild-item;
        width: 296px;
        box-sizing: border-box;
    }
}

.Guild-login:hover {
    background: transparent;
    color: #02bae8;
    border: 1px solid #02bae8;
}

.Guild-login {
    @extend .Guild-create;

    width: 77px;
    height: 26px;
    padding: 5px 7px;
    margin-top: 0;
}

.Guild-title {
    color: rgba(0, 0, 0, 1);
}

.Guild-leave {
    @extend .Guild-create;
    background: #eb5757 !important;
    width: 120px;
    height: 26px;
    padding: 5px 6px;
    color: white;
    border: none !important;
    margin-top: 0;
}

.Guild-discord {
    @extend .Guild-create;
    background: #5c6bc0 !important;
    width: 154px;
    height: 26px;
    border: none !important;
    color: white;
    padding: 5px 6px;
    margin-top: 0;
    margin-left: 7px;
}

.Guild-discord:hover,
.Guild-leave:hover {
    color: white;
}

.Guild-admin {
    @extend .Guild-create;
    margin-top: 0;
    width: 40px;
    height: 14px;
    background: #02bae8 !important;
    border-radius: 3px;
}
