@import '../../styles';

.AuthorizeForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .AuthorizeForm-container {
        padding: 3rem;
        border-radius: 10px;
        border: 1px solid rgba(83, 134, 151, 0.2);
        width: 100%;
        max-width: 66.6vw;
    }
}
