.ant-tag.admin-label {
    padding: 0px 4px;
    font-weight: 900;
    font-size: 10px;
    color: white;
    line-height: 16px;
    background: #02bae8;
    margin-right: 0;
    border-radius: 4px;
    display: block;
    margin-top: 2px;
}
