@import '../../../styles';

.TextArea {
    resize: none;
    border: 1px solid transparent;
    background-color: #f2f6f9;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    @include anim(border-color);

    &:focus {
        border: 1px #27bec9 solid;
        outline: none;
    }
}
