@import '../../styles';

.Header {
    display: flex;
    align-items: center;
    background-color: $header-color;
    height: $header-height;
    width: 100%;
    justify-content: center;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: 83.333vw;

        &-part-1 {
            display: flex;
            align-items: center;
            height: 100%;

            a {
                margin-right: 1.146vw;
            }
        }

        &-part-2 {
            @extend .Header-container-part-1;
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        margin-right: 2.344vw;
        img {
            width: 3vw;
            height: 3vw;
        }
    }

    &-plus {
        display: flex;
        align-items: center;
    }

    &-profile {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 0.677vw;
        width: 2.24vw;
        height: 2.24vw;
    }

    &-login {
        color: white;
    }
}
