@import '../../../styles';

.Checkbox {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;

    &:focus {
        border: 1px #27bec9 solid;
        outline: none;
    }
}
