@import '../../styles';

.Comment {
    &-author-name {
        font-weight: 600;
        color: $gray;
        cursor: default;
        &:hover {
            color: $gray;
        }
    }
    &-author-time {
        color: $gray-3;
        cursor: default;
    }
    .ant-comment-content-author-time {
        margin-left: auto;
    }
    .ant-comment-content-detail {
        white-space: pre-wrap;
    }
}
