.SlimPage {
    margin-top: 45px;
    &-subheader {
        height: 80px;
        margin: 0 auto;
        border-bottom: 2px solid rgba(83, 134, 151, 0.2);
        max-width: 1280px;
        display: flex;
        align-items: center;
        &-inner {
            flex: 1 1 auto;
            margin: 0 auto;
            max-width: 600px;
            display: flex;
            justify-content: space-between;
        }
    }
    &-main {
        max-width: 600px;
        margin: 0 auto;
    }
}
