.BugAdmin {
    &-accept.ant-btn {
        width: 100%;
        background: #6fcf97;
        border-color: #6fcf97;

        &:hover {
            background: #62b584;
            border-color: #62b584;
        }

        &:focus {
            background: #4d8f68;
            border-color: #4d8f68;
        }
    }

    &-decline.ant-btn {
        width: 100%;
        background: #eb5757;
        border-color: #eb5757;

        &:hover {
            background: #d14d4d;
            border-color: #d14d4d;
        }

        &:focus {
            background: #ab3f3f;
            border-color: #ab3f3f;
        }
    }
}
