.BugModal {
    .ant-modal-body {
        padding: 40px 54px;
    }
    .ant-modal-content {
        border-radius: 8px;
    }

    &-right {
        text-align: right;
    }

    &-user.typography {
        font-weight: 800;
    }

    &-image {
        cursor: pointer;
        .ant-image-img {
            border-radius: 5px;
        }
    }
}
